.container {
    position: relative;
    width: 20em;
    min-height: 1.5em;
    border: .05em solid #777;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .25em;
    outline: none;
  }
  
  .container:focus {
    border-color: hsl(200, 100%, 50%);
  }
  
  .value {
    flex-grow: 1;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
  }
  
  .clear-btn {
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
  }
  
  .clear-btn:focus,
  .clear-btn:hover {
    color: #333;
  }
  
  .divider {
    background-color: #777;
    align-self: stretch;
    width: .05em;
  }
  
  .caret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: #777;
  }
  
  .options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    overflow-y: auto;
    border: .05em solid #777;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    background-color: white;
    z-index: 100;
  }
  
  .options.show {
    display: block;
  }
  
  .option {
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .option.selected {
    background-color: hsl(200, 100%, 70%);
  }
  
  .option.highlighted {
    background-color: hsl(200, 100%, 50%) !important;
    color: white
  }
  
  .option-badge {
    display: flex;
    align-items: center;
    background-color: #cddddd;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    gap: .25em;
    cursor: pointer;
    outline: none;

  }
  
  .option-badge:hover,
  .option-badge:focus {
    background-color: hsl(0, 100%, 90%);
    border-color: hsl(0, 100%, 50%);
  }
  
  .option-badge:hover > .remove-btn,
  .option-badge:focus > .remove-btn{
    color: hsl(0, 100%, 50%);
    background-color: hsl(0, 67%, 76%);
  }
  
  .option-badge > .remove-btn {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 2px 3px;
    text-align: center;
    color: white;
    background-color: rgb(159, 186, 185);
    border-radius: 5px;

  }

  .search-input {
    font-size: 14px;
    border: none;
    font-weight: bold;
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box;
    width: 70px;
  }
  .search-input:focus {
    outline: none;
    border: none;

  }
  li{
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 4px;
  }

  li img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  li p{
    margin: 2px;
  }
  li .desc{
    color: gray;
  }
  .not-found{
    text-align: center;
    display: block;
    padding: 5px;
    color: gray;
  }
  
 input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: gray;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 input[type="checkbox"]::after{
    font-weight: 900;
    content: "\2713";
    color: white;
    display: none;
 }
 input[type="checkbox"]:checked{
    background-color: hsl(200, 100%, 70%);
 }
 input[type="checkbox"]:checked:after{
    display: block;
    
 }

 .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333; 
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  